flask-jwt-extended
neo4j
Flask
gunicorn
gevent
anthropic
gevent-websocket
Flask-SocketIO
python-dotenv
openai>=1.0.0
httpx==0.27.0
flask-socketio
requests
numpy
flask-cors
pandas
google-generativeai
eventlet
